--
-- PostgreSQL database dump
--

-- Dumped from database version 17.4
-- Dumped by pg_dump version 17.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: act_re_deployment; Type: TABLE DATA; Schema: public; Owner: root
--

SET SESSION AUTHORIZATION DEFAULT;

ALTER TABLE public.act_re_deployment DISABLE TRIGGER ALL;

COPY public.act_re_deployment (id_, name_, deploy_time_, source_, tenant_id_) FROM stdin;
0593531a-1250-11f0-9c33-f0d5bffe5291	SpringAutoDeployment	2025-04-05 18:58:54.839	\N	\N
3494aa14-dde6-11f0-be88-f0d5bffe5291	SpringAutoDeployment	2025-12-20 21:55:24.244	\N	\N
c023c24c-3731-11f1-9cc1-f0d5bffe5291	SpringAutoDeployment	2026-04-13 13:10:24.112	\N	\N
\.


ALTER TABLE public.act_re_deployment ENABLE TRIGGER ALL;

--
-- Data for Name: act_ge_bytearray; Type: TABLE DATA; Schema: public; Owner: root
--

ALTER TABLE public.act_ge_bytearray DISABLE TRIGGER ALL;



ALTER TABLE public.act_ge_bytearray ENABLE TRIGGER ALL;

--
-- Data for Name: act_ge_property; Type: TABLE DATA; Schema: public; Owner: root
--

ALTER TABLE public.act_ge_property DISABLE TRIGGER ALL;

COPY public.act_ge_property (name_, value_, rev_) FROM stdin;
schema.version	fox	1
schema.history	create(fox)	1
next.dbid	1	1
deployment.lock	0	1
history.cleanup.job.lock	0	1
startup.lock	0	1
telemetry.lock	0	1
installationId.lock	0	1
historyLevel	3	1
camunda.installation.id	bd968a9a-9165-4c70-b9e7-a86df8b78f9c	1
camunda.telemetry.enabled	null	1
\.


ALTER TABLE public.act_ge_property ENABLE TRIGGER ALL;

--
-- Data for Name: act_ge_schema_log; Type: TABLE DATA; Schema: public; Owner: root
--

ALTER TABLE public.act_ge_schema_log DISABLE TRIGGER ALL;

COPY public.act_ge_schema_log (id_, timestamp_, version_) FROM stdin;
0	2025-04-05 18:58:52.904128	7.20.0
\.


ALTER TABLE public.act_ge_schema_log ENABLE TRIGGER ALL;

--
-- Data for Name: act_hi_actinst; Type: TABLE DATA; Schema: public; Owner: root
--

ALTER TABLE public.act_hi_actinst DISABLE TRIGGER ALL;

COPY public.act_hi_actinst (id_, parent_act_inst_id_, proc_def_key_, proc_def_id_, root_proc_inst_id_, proc_inst_id_, execution_id_, act_id_, task_id_, call_proc_inst_id_, call_case_inst_id_, act_name_, act_type_, assignee_, start_time_, end_time_, duration_, act_inst_state_, sequence_counter_, tenant_id_, removal_time_) FROM stdin;
\.


ALTER TABLE public.act_hi_actinst ENABLE TRIGGER ALL;

--
-- Data for Name: act_hi_attachment; Type: TABLE DATA; Schema: public; Owner: root
--

ALTER TABLE public.act_hi_attachment DISABLE TRIGGER ALL;

COPY public.act_hi_attachment (id_, rev_, user_id_, name_, description_, type_, task_id_, root_proc_inst_id_, proc_inst_id_, url_, content_id_, tenant_id_, create_time_, removal_time_) FROM stdin;
\.


ALTER TABLE public.act_hi_attachment ENABLE TRIGGER ALL;

--
-- Data for Name: act_hi_batch; Type: TABLE DATA; Schema: public; Owner: root
--

ALTER TABLE public.act_hi_batch DISABLE TRIGGER ALL;

COPY public.act_hi_batch (id_, type_, total_jobs_, jobs_per_seed_, invocations_per_job_, seed_job_def_id_, monitor_job_def_id_, batch_job_def_id_, tenant_id_, create_user_id_, start_time_, end_time_, removal_time_, exec_start_time_) FROM stdin;
\.


ALTER TABLE public.act_hi_batch ENABLE TRIGGER ALL;

--
-- Data for Name: act_hi_caseactinst; Type: TABLE DATA; Schema: public; Owner: root
--

ALTER TABLE public.act_hi_caseactinst DISABLE TRIGGER ALL;

COPY public.act_hi_caseactinst (id_, parent_act_inst_id_, case_def_id_, case_inst_id_, case_act_id_, task_id_, call_proc_inst_id_, call_case_inst_id_, case_act_name_, case_act_type_, create_time_, end_time_, duration_, state_, required_, tenant_id_) FROM stdin;
\.


ALTER TABLE public.act_hi_caseactinst ENABLE TRIGGER ALL;

--
-- Data for Name: act_hi_caseinst; Type: TABLE DATA; Schema: public; Owner: root
--

ALTER TABLE public.act_hi_caseinst DISABLE TRIGGER ALL;

COPY public.act_hi_caseinst (id_, case_inst_id_, business_key_, case_def_id_, create_time_, close_time_, duration_, state_, create_user_id_, super_case_instance_id_, super_process_instance_id_, tenant_id_) FROM stdin;
\.


ALTER TABLE public.act_hi_caseinst ENABLE TRIGGER ALL;

--
-- Data for Name: act_hi_comment; Type: TABLE DATA; Schema: public; Owner: root
--

ALTER TABLE public.act_hi_comment DISABLE TRIGGER ALL;

COPY public.act_hi_comment (id_, type_, time_, user_id_, task_id_, root_proc_inst_id_, proc_inst_id_, action_, message_, full_msg_, tenant_id_, removal_time_) FROM stdin;
\.


ALTER TABLE public.act_hi_comment ENABLE TRIGGER ALL;

--
-- Data for Name: act_hi_dec_in; Type: TABLE DATA; Schema: public; Owner: root
--

ALTER TABLE public.act_hi_dec_in DISABLE TRIGGER ALL;

COPY public.act_hi_dec_in (id_, dec_inst_id_, clause_id_, clause_name_, var_type_, bytearray_id_, double_, long_, text_, text2_, tenant_id_, create_time_, root_proc_inst_id_, removal_time_) FROM stdin;
\.


ALTER TABLE public.act_hi_dec_in ENABLE TRIGGER ALL;

--
-- Data for Name: act_hi_dec_out; Type: TABLE DATA; Schema: public; Owner: root
--

ALTER TABLE public.act_hi_dec_out DISABLE TRIGGER ALL;

COPY public.act_hi_dec_out (id_, dec_inst_id_, clause_id_, clause_name_, rule_id_, rule_order_, var_name_, var_type_, bytearray_id_, double_, long_, text_, text2_, tenant_id_, create_time_, root_proc_inst_id_, removal_time_) FROM stdin;
\.


ALTER TABLE public.act_hi_dec_out ENABLE TRIGGER ALL;

--
-- Data for Name: act_hi_decinst; Type: TABLE DATA; Schema: public; Owner: root
--

ALTER TABLE public.act_hi_decinst DISABLE TRIGGER ALL;

COPY public.act_hi_decinst (id_, dec_def_id_, dec_def_key_, dec_def_name_, proc_def_key_, proc_def_id_, proc_inst_id_, case_def_key_, case_def_id_, case_inst_id_, act_inst_id_, act_id_, eval_time_, removal_time_, collect_value_, user_id_, root_dec_inst_id_, root_proc_inst_id_, dec_req_id_, dec_req_key_, tenant_id_) FROM stdin;
\.


ALTER TABLE public.act_hi_decinst ENABLE TRIGGER ALL;

--
-- Data for Name: act_hi_detail; Type: TABLE DATA; Schema: public; Owner: root
--

ALTER TABLE public.act_hi_detail DISABLE TRIGGER ALL;

COPY public.act_hi_detail (id_, type_, proc_def_key_, proc_def_id_, root_proc_inst_id_, proc_inst_id_, execution_id_, case_def_key_, case_def_id_, case_inst_id_, case_execution_id_, task_id_, act_inst_id_, var_inst_id_, name_, var_type_, rev_, time_, bytearray_id_, double_, long_, text_, text2_, sequence_counter_, tenant_id_, operation_id_, removal_time_, initial_) FROM stdin;
\.


ALTER TABLE public.act_hi_detail ENABLE TRIGGER ALL;

--
-- Data for Name: act_hi_ext_task_log; Type: TABLE DATA; Schema: public; Owner: root
--

ALTER TABLE public.act_hi_ext_task_log DISABLE TRIGGER ALL;

COPY public.act_hi_ext_task_log (id_, timestamp_, ext_task_id_, retries_, topic_name_, worker_id_, priority_, error_msg_, error_details_id_, act_id_, act_inst_id_, execution_id_, proc_inst_id_, root_proc_inst_id_, proc_def_id_, proc_def_key_, tenant_id_, state_, removal_time_) FROM stdin;
\.


ALTER TABLE public.act_hi_ext_task_log ENABLE TRIGGER ALL;

--
-- Data for Name: act_hi_identitylink; Type: TABLE DATA; Schema: public; Owner: root
--

ALTER TABLE public.act_hi_identitylink DISABLE TRIGGER ALL;

COPY public.act_hi_identitylink (id_, timestamp_, type_, user_id_, group_id_, task_id_, root_proc_inst_id_, proc_def_id_, operation_type_, assigner_id_, proc_def_key_, tenant_id_, removal_time_) FROM stdin;
\.


ALTER TABLE public.act_hi_identitylink ENABLE TRIGGER ALL;

--
-- Data for Name: act_hi_incident; Type: TABLE DATA; Schema: public; Owner: root
--

ALTER TABLE public.act_hi_incident DISABLE TRIGGER ALL;

COPY public.act_hi_incident (id_, proc_def_key_, proc_def_id_, root_proc_inst_id_, proc_inst_id_, execution_id_, create_time_, end_time_, incident_msg_, incident_type_, activity_id_, failed_activity_id_, cause_incident_id_, root_cause_incident_id_, configuration_, history_configuration_, incident_state_, tenant_id_, job_def_id_, annotation_, removal_time_) FROM stdin;
\.


ALTER TABLE public.act_hi_incident ENABLE TRIGGER ALL;

--
-- Data for Name: act_hi_job_log; Type: TABLE DATA; Schema: public; Owner: root
--

ALTER TABLE public.act_hi_job_log DISABLE TRIGGER ALL;

COPY public.act_hi_job_log (id_, timestamp_, job_id_, job_duedate_, job_retries_, job_priority_, job_exception_msg_, job_exception_stack_id_, job_state_, job_def_id_, job_def_type_, job_def_configuration_, act_id_, failed_act_id_, execution_id_, root_proc_inst_id_, process_instance_id_, process_def_id_, process_def_key_, deployment_id_, sequence_counter_, tenant_id_, hostname_, removal_time_) FROM stdin;
\.


ALTER TABLE public.act_hi_job_log ENABLE TRIGGER ALL;

--
-- Data for Name: act_hi_op_log; Type: TABLE DATA; Schema: public; Owner: root
--

ALTER TABLE public.act_hi_op_log DISABLE TRIGGER ALL;

COPY public.act_hi_op_log (id_, deployment_id_, proc_def_id_, proc_def_key_, root_proc_inst_id_, proc_inst_id_, execution_id_, case_def_id_, case_inst_id_, case_execution_id_, task_id_, job_id_, job_def_id_, batch_id_, user_id_, timestamp_, operation_type_, operation_id_, entity_type_, property_, org_value_, new_value_, tenant_id_, removal_time_, category_, external_task_id_, annotation_) FROM stdin;
\.


ALTER TABLE public.act_hi_op_log ENABLE TRIGGER ALL;

--
-- Data for Name: act_hi_procinst; Type: TABLE DATA; Schema: public; Owner: root
--

ALTER TABLE public.act_hi_procinst DISABLE TRIGGER ALL;

COPY public.act_hi_procinst (id_, proc_inst_id_, business_key_, proc_def_key_, proc_def_id_, start_time_, end_time_, removal_time_, duration_, start_user_id_, start_act_id_, end_act_id_, super_process_instance_id_, root_proc_inst_id_, super_case_instance_id_, case_inst_id_, delete_reason_, tenant_id_, state_) FROM stdin;
\.


ALTER TABLE public.act_hi_procinst ENABLE TRIGGER ALL;

--
-- Data for Name: act_hi_taskinst; Type: TABLE DATA; Schema: public; Owner: root
--

ALTER TABLE public.act_hi_taskinst DISABLE TRIGGER ALL;

COPY public.act_hi_taskinst (id_, task_def_key_, proc_def_key_, proc_def_id_, root_proc_inst_id_, proc_inst_id_, execution_id_, case_def_key_, case_def_id_, case_inst_id_, case_execution_id_, act_inst_id_, name_, parent_task_id_, description_, owner_, assignee_, start_time_, end_time_, duration_, delete_reason_, priority_, due_date_, follow_up_date_, tenant_id_, removal_time_) FROM stdin;
\.


ALTER TABLE public.act_hi_taskinst ENABLE TRIGGER ALL;

--
-- Data for Name: act_hi_varinst; Type: TABLE DATA; Schema: public; Owner: root
--

ALTER TABLE public.act_hi_varinst DISABLE TRIGGER ALL;

COPY public.act_hi_varinst (id_, proc_def_key_, proc_def_id_, root_proc_inst_id_, proc_inst_id_, execution_id_, act_inst_id_, case_def_key_, case_def_id_, case_inst_id_, case_execution_id_, task_id_, name_, var_type_, create_time_, rev_, bytearray_id_, double_, long_, text_, text2_, tenant_id_, state_, removal_time_) FROM stdin;
\.


ALTER TABLE public.act_hi_varinst ENABLE TRIGGER ALL;

--
-- Data for Name: act_id_group; Type: TABLE DATA; Schema: public; Owner: root
--

ALTER TABLE public.act_id_group DISABLE TRIGGER ALL;

COPY public.act_id_group (id_, rev_, name_, type_) FROM stdin;
camunda-admin	1	camunda BPM Administrators	SYSTEM
\.


ALTER TABLE public.act_id_group ENABLE TRIGGER ALL;

--
-- Data for Name: act_id_info; Type: TABLE DATA; Schema: public; Owner: root
--

ALTER TABLE public.act_id_info DISABLE TRIGGER ALL;

COPY public.act_id_info (id_, rev_, user_id_, type_, key_, value_, password_, parent_id_) FROM stdin;
\.


ALTER TABLE public.act_id_info ENABLE TRIGGER ALL;

--
-- Data for Name: act_id_user; Type: TABLE DATA; Schema: public; Owner: root
--

ALTER TABLE public.act_id_user DISABLE TRIGGER ALL;

COPY public.act_id_user (id_, rev_, first_, last_, email_, pwd_, salt_, lock_exp_time_, attempts_, picture_id_) FROM stdin;
demo	1	Andromeda	Galaxy	ufo@andromeda.com	{SHA-512}xy+ywo3Qn+1q0k/JoGUvW8s96jxEwmz+hWRlVkcat/czyHqhAklIvqfJQByIxQU135/F8dtbZHZpmei1s9nCdg==	DRDDceUfG/QzuGlpo2FRZw==	\N	\N	\N
\.


ALTER TABLE public.act_id_user ENABLE TRIGGER ALL;

--
-- Data for Name: act_id_membership; Type: TABLE DATA; Schema: public; Owner: root
--

ALTER TABLE public.act_id_membership DISABLE TRIGGER ALL;

COPY public.act_id_membership (user_id_, group_id_) FROM stdin;
demo	camunda-admin
\.


ALTER TABLE public.act_id_membership ENABLE TRIGGER ALL;

--
-- Data for Name: act_id_tenant; Type: TABLE DATA; Schema: public; Owner: root
--

ALTER TABLE public.act_id_tenant DISABLE TRIGGER ALL;

COPY public.act_id_tenant (id_, rev_, name_) FROM stdin;
\.


ALTER TABLE public.act_id_tenant ENABLE TRIGGER ALL;

--
-- Data for Name: act_id_tenant_member; Type: TABLE DATA; Schema: public; Owner: root
--

ALTER TABLE public.act_id_tenant_member DISABLE TRIGGER ALL;

COPY public.act_id_tenant_member (id_, tenant_id_, user_id_, group_id_) FROM stdin;
\.


ALTER TABLE public.act_id_tenant_member ENABLE TRIGGER ALL;

--
-- Data for Name: act_re_camformdef; Type: TABLE DATA; Schema: public; Owner: root
--

ALTER TABLE public.act_re_camformdef DISABLE TRIGGER ALL;

COPY public.act_re_camformdef (id_, rev_, key_, version_, deployment_id_, resource_name_, tenant_id_) FROM stdin;
\.


ALTER TABLE public.act_re_camformdef ENABLE TRIGGER ALL;

--
-- Data for Name: act_re_case_def; Type: TABLE DATA; Schema: public; Owner: root
--

ALTER TABLE public.act_re_case_def DISABLE TRIGGER ALL;

COPY public.act_re_case_def (id_, rev_, category_, name_, key_, version_, deployment_id_, resource_name_, dgrm_resource_name_, tenant_id_, history_ttl_) FROM stdin;
\.


ALTER TABLE public.act_re_case_def ENABLE TRIGGER ALL;

--
-- Data for Name: act_re_decision_req_def; Type: TABLE DATA; Schema: public; Owner: root
--

ALTER TABLE public.act_re_decision_req_def DISABLE TRIGGER ALL;

COPY public.act_re_decision_req_def (id_, rev_, category_, name_, key_, version_, deployment_id_, resource_name_, dgrm_resource_name_, tenant_id_) FROM stdin;
\.


ALTER TABLE public.act_re_decision_req_def ENABLE TRIGGER ALL;

--
-- Data for Name: act_re_decision_def; Type: TABLE DATA; Schema: public; Owner: root
--

ALTER TABLE public.act_re_decision_def DISABLE TRIGGER ALL;

COPY public.act_re_decision_def (id_, rev_, category_, name_, key_, version_, deployment_id_, resource_name_, dgrm_resource_name_, dec_req_id_, dec_req_key_, tenant_id_, history_ttl_, version_tag_) FROM stdin;
\.


ALTER TABLE public.act_re_decision_def ENABLE TRIGGER ALL;

--
-- Data for Name: act_re_procdef; Type: TABLE DATA; Schema: public; Owner: root
--

ALTER TABLE public.act_re_procdef DISABLE TRIGGER ALL;



ALTER TABLE public.act_re_procdef ENABLE TRIGGER ALL;

--
-- Data for Name: act_ru_authorization; Type: TABLE DATA; Schema: public; Owner: root
--

ALTER TABLE public.act_ru_authorization DISABLE TRIGGER ALL;



ALTER TABLE public.act_ru_authorization ENABLE TRIGGER ALL;

--
-- Data for Name: act_ru_jobdef; Type: TABLE DATA; Schema: public; Owner: root
--

ALTER TABLE public.act_ru_jobdef DISABLE TRIGGER ALL;

COPY public.act_ru_jobdef (id_, rev_, proc_def_id_, proc_def_key_, act_id_, job_type_, job_configuration_, suspension_state_, job_priority_, tenant_id_, deployment_id_) FROM stdin;
\.


ALTER TABLE public.act_ru_jobdef ENABLE TRIGGER ALL;

--
-- Data for Name: act_ru_batch; Type: TABLE DATA; Schema: public; Owner: root
--

ALTER TABLE public.act_ru_batch DISABLE TRIGGER ALL;

COPY public.act_ru_batch (id_, rev_, type_, total_jobs_, jobs_created_, jobs_per_seed_, invocations_per_job_, seed_job_def_id_, batch_job_def_id_, monitor_job_def_id_, suspension_state_, configuration_, tenant_id_, create_user_id_, start_time_, exec_start_time_) FROM stdin;
\.


ALTER TABLE public.act_ru_batch ENABLE TRIGGER ALL;

--
-- Data for Name: act_ru_case_execution; Type: TABLE DATA; Schema: public; Owner: root
--

ALTER TABLE public.act_ru_case_execution DISABLE TRIGGER ALL;

COPY public.act_ru_case_execution (id_, rev_, case_inst_id_, super_case_exec_, super_exec_, business_key_, parent_id_, case_def_id_, act_id_, prev_state_, current_state_, required_, tenant_id_) FROM stdin;
\.


ALTER TABLE public.act_ru_case_execution ENABLE TRIGGER ALL;

--
-- Data for Name: act_ru_case_sentry_part; Type: TABLE DATA; Schema: public; Owner: root
--

ALTER TABLE public.act_ru_case_sentry_part DISABLE TRIGGER ALL;

COPY public.act_ru_case_sentry_part (id_, rev_, case_inst_id_, case_exec_id_, sentry_id_, type_, source_case_exec_id_, standard_event_, source_, variable_event_, variable_name_, satisfied_, tenant_id_) FROM stdin;
\.


ALTER TABLE public.act_ru_case_sentry_part ENABLE TRIGGER ALL;

--
-- Data for Name: act_ru_execution; Type: TABLE DATA; Schema: public; Owner: root
--

ALTER TABLE public.act_ru_execution DISABLE TRIGGER ALL;

COPY public.act_ru_execution (id_, rev_, root_proc_inst_id_, proc_inst_id_, business_key_, parent_id_, proc_def_id_, super_exec_, super_case_exec_, case_inst_id_, act_id_, act_inst_id_, is_active_, is_concurrent_, is_scope_, is_event_scope_, suspension_state_, cached_ent_state_, sequence_counter_, tenant_id_) FROM stdin;
\.


ALTER TABLE public.act_ru_execution ENABLE TRIGGER ALL;

--
-- Data for Name: act_ru_event_subscr; Type: TABLE DATA; Schema: public; Owner: root
--

ALTER TABLE public.act_ru_event_subscr DISABLE TRIGGER ALL;

COPY public.act_ru_event_subscr (id_, rev_, event_type_, event_name_, execution_id_, proc_inst_id_, activity_id_, configuration_, created_, tenant_id_) FROM stdin;
\.


ALTER TABLE public.act_ru_event_subscr ENABLE TRIGGER ALL;

--
-- Data for Name: act_ru_ext_task; Type: TABLE DATA; Schema: public; Owner: root
--

ALTER TABLE public.act_ru_ext_task DISABLE TRIGGER ALL;

COPY public.act_ru_ext_task (id_, rev_, worker_id_, topic_name_, retries_, error_msg_, error_details_id_, lock_exp_time_, suspension_state_, execution_id_, proc_inst_id_, proc_def_id_, proc_def_key_, act_id_, act_inst_id_, tenant_id_, priority_, last_failure_log_id_) FROM stdin;
\.


ALTER TABLE public.act_ru_ext_task ENABLE TRIGGER ALL;

--
-- Data for Name: act_ru_filter; Type: TABLE DATA; Schema: public; Owner: root
--

ALTER TABLE public.act_ru_filter DISABLE TRIGGER ALL;

COPY public.act_ru_filter (id_, rev_, resource_type_, name_, owner_, query_, properties_) FROM stdin;
058b15b9-1250-11f0-9c33-f0d5bffe5291	1	Task	All	\N	{}	{}
\.


ALTER TABLE public.act_ru_filter ENABLE TRIGGER ALL;

--
-- Data for Name: act_ru_task; Type: TABLE DATA; Schema: public; Owner: root
--

ALTER TABLE public.act_ru_task DISABLE TRIGGER ALL;

COPY public.act_ru_task (id_, rev_, execution_id_, proc_inst_id_, proc_def_id_, case_execution_id_, case_inst_id_, case_def_id_, name_, parent_task_id_, description_, task_def_key_, owner_, assignee_, delegation_, priority_, create_time_, last_updated_, due_date_, follow_up_date_, suspension_state_, tenant_id_) FROM stdin;
\.


ALTER TABLE public.act_ru_task ENABLE TRIGGER ALL;

--
-- Data for Name: act_ru_identitylink; Type: TABLE DATA; Schema: public; Owner: root
--

ALTER TABLE public.act_ru_identitylink DISABLE TRIGGER ALL;

COPY public.act_ru_identitylink (id_, rev_, group_id_, type_, user_id_, task_id_, proc_def_id_, tenant_id_) FROM stdin;
\.


ALTER TABLE public.act_ru_identitylink ENABLE TRIGGER ALL;

--
-- Data for Name: act_ru_incident; Type: TABLE DATA; Schema: public; Owner: root
--

ALTER TABLE public.act_ru_incident DISABLE TRIGGER ALL;

COPY public.act_ru_incident (id_, rev_, incident_timestamp_, incident_msg_, incident_type_, execution_id_, activity_id_, failed_activity_id_, proc_inst_id_, proc_def_id_, cause_incident_id_, root_cause_incident_id_, configuration_, tenant_id_, job_def_id_, annotation_) FROM stdin;
\.


ALTER TABLE public.act_ru_incident ENABLE TRIGGER ALL;

--
-- Data for Name: act_ru_job; Type: TABLE DATA; Schema: public; Owner: root
--

ALTER TABLE public.act_ru_job DISABLE TRIGGER ALL;

COPY public.act_ru_job (id_, rev_, type_, lock_exp_time_, lock_owner_, exclusive_, execution_id_, process_instance_id_, process_def_id_, process_def_key_, retries_, exception_stack_id_, exception_msg_, failed_act_id_, duedate_, repeat_, repeat_offset_, handler_type_, handler_cfg_, deployment_id_, suspension_state_, job_def_id_, priority_, sequence_counter_, tenant_id_, create_time_, last_failure_log_id_) FROM stdin;
\.


ALTER TABLE public.act_ru_job ENABLE TRIGGER ALL;

--
-- Data for Name: act_ru_meter_log; Type: TABLE DATA; Schema: public; Owner: root
--

ALTER TABLE public.act_ru_meter_log DISABLE TRIGGER ALL;



ALTER TABLE public.act_ru_meter_log ENABLE TRIGGER ALL;

--
-- Data for Name: act_ru_task_meter_log; Type: TABLE DATA; Schema: public; Owner: root
--

ALTER TABLE public.act_ru_task_meter_log DISABLE TRIGGER ALL;

COPY public.act_ru_task_meter_log (id_, assignee_hash_, timestamp_) FROM stdin;
\.


ALTER TABLE public.act_ru_task_meter_log ENABLE TRIGGER ALL;

--
-- Data for Name: act_ru_variable; Type: TABLE DATA; Schema: public; Owner: root
--

ALTER TABLE public.act_ru_variable DISABLE TRIGGER ALL;

COPY public.act_ru_variable (id_, rev_, type_, name_, execution_id_, proc_inst_id_, proc_def_id_, case_execution_id_, case_inst_id_, task_id_, batch_id_, bytearray_id_, double_, long_, text_, text2_, var_scope_, sequence_counter_, is_concurrent_local_, tenant_id_) FROM stdin;
\.


ALTER TABLE public.act_ru_variable ENABLE TRIGGER ALL;

--
-- Data for Name: address; Type: TABLE DATA; Schema: public; Owner: root
--

ALTER TABLE public.address DISABLE TRIGGER ALL;

COPY public.address (id, line1, line2, line3, line4, line5, address_type, apartment_number, city, country, street_name, street_number, zip_code) FROM stdin;
\.


ALTER TABLE public.address ENABLE TRIGGER ALL;

--
-- Data for Name: contributor; Type: TABLE DATA; Schema: public; Owner: root
--

ALTER TABLE public.contributor DISABLE TRIGGER ALL;

COPY public.contributor (id) FROM stdin;
\.


ALTER TABLE public.contributor ENABLE TRIGGER ALL;

--
-- Data for Name: procedure; Type: TABLE DATA; Schema: public; Owner: root
--

ALTER TABLE public.procedure DISABLE TRIGGER ALL;

COPY public.procedure (id, procedure_label) FROM stdin;
1	Relance
2	Promesse de paiement
3	Phoning amiable
4	Refus de paiement
5	Difficult├® de paiement
6	Difficult├® dÔÇÖentreprise/projet
7	Injoignable provisoirement
8	Injoignable d├®finitivement
9	Injonction pour payer
10	Saisie sur fond de commerce
11	Saisie sur les biens mobiliers
12	Saisie sur les biens immobiliers
13	Saisie arr├¬t sur comptes bancaires
14	Action au fond
15	Saisie conservatoire sur les parts sociales
16	Proc├®dure de n├®gociation
17	Proc├®dure de gestion Sinistre
\.


ALTER TABLE public.procedure ENABLE TRIGGER ALL;

--
-- Data for Name: profile; Type: TABLE DATA; Schema: public; Owner: root
--

ALTER TABLE public.profile DISABLE TRIGGER ALL;

COPY public.profile (id, profile) FROM stdin;
1	Administrateur
2	Responsable Region
3	Agent de recouvrement
\.


ALTER TABLE public.profile ENABLE TRIGGER ALL;

--
-- Data for Name: recouvrex_user; Type: TABLE DATA; Schema: public; Owner: root
--

ALTER TABLE public.recouvrex_user DISABLE TRIGGER ALL;



ALTER TABLE public.recouvrex_user ENABLE TRIGGER ALL;

--
-- Data for Name: status; Type: TABLE DATA; Schema: public; Owner: root
--

ALTER TABLE public.status DISABLE TRIGGER ALL;

COPY public.status (id, status) FROM stdin;
1	Predouteux
2	Douteux
3	compromis
4	contentieux
5	Deces
6	Invalidite
7	Termine
8	Radie
\.


ALTER TABLE public.status ENABLE TRIGGER ALL;

--
-- Data for Name: thirdparty; Type: TABLE DATA; Schema: public; Owner: root
--

ALTER TABLE public.thirdparty DISABLE TRIGGER ALL;



ALTER TABLE public.thirdparty ENABLE TRIGGER ALL;

--
-- Data for Name: collect_case; Type: TABLE DATA; Schema: public; Owner: root
--

ALTER TABLE public.collect_case DISABLE TRIGGER ALL;



ALTER TABLE public.collect_case ENABLE TRIGGER ALL;

--
-- Data for Name: payment_plan_template; Type: TABLE DATA; Schema: public; Owner: root
--

ALTER TABLE public.payment_plan_template DISABLE TRIGGER ALL;

COPY public.payment_plan_template (id, description, interest_rate, is_active, max_amount, min_amount, number_of_installments, template_name) FROM stdin;
\.


ALTER TABLE public.payment_plan_template ENABLE TRIGGER ALL;

--
-- Data for Name: agreement; Type: TABLE DATA; Schema: public; Owner: root
--

ALTER TABLE public.agreement DISABLE TRIGGER ALL;



ALTER TABLE public.agreement ENABLE TRIGGER ALL;

--
-- Data for Name: contract; Type: TABLE DATA; Schema: public; Owner: root
--

ALTER TABLE public.contract DISABLE TRIGGER ALL;

COPY public.contract (id, contract_id, created_on, thirdparty_id) FROM stdin;
1	CON123	2024-05-02 10:00:00	1
2	CON789	2024-06-01 13:00:00	2
3	CON456	2024-04-01 09:00:00	3
4	CON111	2024-07-15 11:30:00	4
5	CON222	2024-01-15 10:30:00	5
6	CON333	2024-02-10 09:00:00	6
7	CON444	2024-03-05 15:00:00	7
8	CON555	2024-04-01 09:30:00	8
\.


ALTER TABLE public.contract ENABLE TRIGGER ALL;

--
-- Data for Name: credit; Type: TABLE DATA; Schema: public; Owner: root
--

ALTER TABLE public.credit DISABLE TRIGGER ALL;



ALTER TABLE public.credit ENABLE TRIGGER ALL;

--
-- Data for Name: due_date; Type: TABLE DATA; Schema: public; Owner: root
--

ALTER TABLE public.due_date DISABLE TRIGGER ALL;

COPY public.due_date (id, accrued_interest, ancillary_charge, due_date_id, due_date_status, expected_payment_date, insurance_amount, interest_amount, late_payment_charge, modification_date, payment_due_date, principal_amount, remaining_principal_balance, start_date, total_installment_amount, unpaid_ancillary_charges, unpaid_insurance_prenium, unpaid_principal_amount, case_id, credit_id) FROM stdin;
\.


ALTER TABLE public.due_date ENABLE TRIGGER ALL;

--
-- Data for Name: agreement_due_date; Type: TABLE DATA; Schema: public; Owner: root
--

ALTER TABLE public.agreement_due_date DISABLE TRIGGER ALL;

COPY public.agreement_due_date (agreement_id, due_date_id) FROM stdin;
\.


ALTER TABLE public.agreement_due_date ENABLE TRIGGER ALL;

--
-- Data for Name: agreement_validation; Type: TABLE DATA; Schema: public; Owner: root
--

ALTER TABLE public.agreement_validation DISABLE TRIGGER ALL;

COPY public.agreement_validation (id, action, action_date, comment, agreement_id, user_id) FROM stdin;
1	SUBMITTED	2026-04-21 00:52:39.101453	Plan de paiement cr├®├®	1	3
2	APPROVED	2026-04-21 00:55:43.292503		1	2
3	SUBMITTED	2026-04-21 02:16:40.447074	Plan de paiement cr├®├®	2	3
4	APPROVED	2026-04-21 02:17:46.318826		2	1
5	SUBMITTED	2026-04-24 01:22:50.495064	Plan de paiement cr├®├®	3	3
6	APPROVED	2026-04-24 01:24:25.658754		3	2
7	SUBMITTED	2026-04-24 02:33:44.723338	Plan de paiement cr├®├®	4	3
8	APPROVED	2026-04-24 02:34:48.684404		4	2
\.


ALTER TABLE public.agreement_validation ENABLE TRIGGER ALL;

--
-- Data for Name: business_assets; Type: TABLE DATA; Schema: public; Owner: root
--

ALTER TABLE public.business_assets DISABLE TRIGGER ALL;

COPY public.business_assets (commercial_register_number, business_trade_name, commercial_register_city, company_name, manager_first_name, manager_id_card_number, manager_last_name, owner_first_name, owner_last_name, pledge_expiration_date, pledge_realization_date, ranking_of_pledge, share_capital) FROM stdin;
\.


ALTER TABLE public.business_assets ENABLE TRIGGER ALL;

--
-- Data for Name: business_fund_guarantee; Type: TABLE DATA; Schema: public; Owner: root
--

ALTER TABLE public.business_fund_guarantee DISABLE TRIGGER ALL;

COPY public.business_fund_guarantee (id, type, commerce_registry_city, commerce_registry_number, corporate_name, manager_full_name, manager_nationalidcard, owner_full_name, pledge_expiration_date, pledge_rank, pledge_realization_date, social_capital, trade_name, credit_id) FROM stdin;
1	BusinessFund	New York	123-456-789	ABC Inc.	John Smith	A123456789	Jane Doe	2025-12-31	First Rank	2022-05-01	1000000.00	ABC Trade	1
2	BusinessFund	Los Angeles	987-654-321	XYZ Corporation	Alice Johnson	B987654321	Bob Smith	2026-10-15	Second Rank	2023-01-01	1500000.00	XYZ Trade	1
\.


ALTER TABLE public.business_fund_guarantee ENABLE TRIGGER ALL;

--
-- Data for Name: car_warranty; Type: TABLE DATA; Schema: public; Owner: root
--

ALTER TABLE public.car_warranty DISABLE TRIGGER ALL;

COPY public.car_warranty (car_warranty_id, car_make, fuel_type, license_plate_number, model_year, tax_horse_power) FROM stdin;
\.


ALTER TABLE public.car_warranty ENABLE TRIGGER ALL;

--
-- Data for Name: chat_message; Type: TABLE DATA; Schema: public; Owner: root
--

ALTER TABLE public.chat_message DISABLE TRIGGER ALL;

COPY public.chat_message (id, content, created_at, receiver_id, receiver_type, sender, sender_id, sender_type, type) FROM stdin;
\.


ALTER TABLE public.chat_message ENABLE TRIGGER ALL;

--
-- Data for Name: chat_session; Type: TABLE DATA; Schema: public; Owner: root
--

ALTER TABLE public.chat_session DISABLE TRIGGER ALL;



ALTER TABLE public.chat_session ENABLE TRIGGER ALL;

--
-- Data for Name: clients; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public.clients DISABLE TRIGGER ALL;



ALTER TABLE public.clients ENABLE TRIGGER ALL;

--
-- Data for Name: collateral_personal_guarantee; Type: TABLE DATA; Schema: public; Owner: root
--

ALTER TABLE public.collateral_personal_guarantee DISABLE TRIGGER ALL;

COPY public.collateral_personal_guarantee (personal_guarantee_id, employer, guarantor_first_name, guarantor_last_name, id_card_number, id_card_number_expiration_date, length_of_service, mobile_phone_number, monthly_income, occupation, relationship_with_the_client, residual_income, total_outstanding_installments, business_address_id, residential_address_id) FROM stdin;
\.


ALTER TABLE public.collateral_personal_guarantee ENABLE TRIGGER ALL;

--
-- Data for Name: conversation_message; Type: TABLE DATA; Schema: public; Owner: root
--

ALTER TABLE public.conversation_message DISABLE TRIGGER ALL;



ALTER TABLE public.conversation_message ENABLE TRIGGER ALL;

--
-- Data for Name: reglement; Type: TABLE DATA; Schema: public; Owner: root
--

ALTER TABLE public.reglement DISABLE TRIGGER ALL;

COPY public.reglement (id, modification_date, opening_date, payment_amount, payment_status, reglement_date, reglement_id, due_date_id, file_data, file_name) FROM stdin;
\.


ALTER TABLE public.reglement ENABLE TRIGGER ALL;

--
-- Data for Name: installment_payment; Type: TABLE DATA; Schema: public; Owner: root
--

ALTER TABLE public.installment_payment DISABLE TRIGGER ALL;



ALTER TABLE public.installment_payment ENABLE TRIGGER ALL;

--
-- Data for Name: insurance; Type: TABLE DATA; Schema: public; Owner: root
--

ALTER TABLE public.insurance DISABLE TRIGGER ALL;

COPY public.insurance (id, amount_insured, effective_date, expiration_date, insurance_company, insurance_policy_number, insurance_type) FROM stdin;
\.


ALTER TABLE public.insurance ENABLE TRIGGER ALL;

--
-- Data for Name: keycloak_thirdparty_link; Type: TABLE DATA; Schema: public; Owner: root
--

ALTER TABLE public.keycloak_thirdparty_link DISABLE TRIGGER ALL;

COPY public.keycloak_thirdparty_link (id, keycloak_id, third_party_id) FROM stdin;
\.


ALTER TABLE public.keycloak_thirdparty_link ENABLE TRIGGER ALL;

--
-- Data for Name: loan_record; Type: TABLE DATA; Schema: public; Owner: root
--

ALTER TABLE public.loan_record DISABLE TRIGGER ALL;

COPY public.loan_record (id, agency, constant_installment_amount, credit_status, cumulative_redemption_amounts, date_due_number, deferred_payment_type, insurance_amount, interest_rate_type, last_redemption_date, last_status_date, loan_record_id, manager, modification_date, number_of_restructurings, opening_date, outstanding_balance, restructured, triggered_installment_number) FROM stdin;
\.


ALTER TABLE public.loan_record ENABLE TRIGGER ALL;

--
-- Data for Name: mortgage; Type: TABLE DATA; Schema: public; Owner: root
--

ALTER TABLE public.mortgage DISABLE TRIGGER ALL;

COPY public.mortgage (mortgage_id, area, building_description, id_card_number, land_registry_office, land_title_name, land_title_number, loan_amount, owner_first_name, owner_last_name, priority, property_name, registration_date_in_land_registry, owner_address_id) FROM stdin;
\.


ALTER TABLE public.mortgage ENABLE TRIGGER ALL;

--
-- Data for Name: mortgage_guarantee; Type: TABLE DATA; Schema: public; Owner: root
--

ALTER TABLE public.mortgage_guarantee DISABLE TRIGGER ALL;



ALTER TABLE public.mortgage_guarantee ENABLE TRIGGER ALL;

--
-- Data for Name: personal_guarantee; Type: TABLE DATA; Schema: public; Owner: root
--

ALTER TABLE public.personal_guarantee DISABLE TRIGGER ALL;



ALTER TABLE public.personal_guarantee ENABLE TRIGGER ALL;

--
-- Data for Name: real_estate_guarantee; Type: TABLE DATA; Schema: public; Owner: root
--

ALTER TABLE public.real_estate_guarantee DISABLE TRIGGER ALL;



ALTER TABLE public.real_estate_guarantee ENABLE TRIGGER ALL;

--
-- Data for Name: reminder_history; Type: TABLE DATA; Schema: public; Owner: root
--

ALTER TABLE public.reminder_history DISABLE TRIGGER ALL;

COPY public.reminder_history (id, channel, error_message, recipient, sent_at, status, installment_id) FROM stdin;
1	EMAIL	\N	mhonma398@gmail.com	2026-04-24 02:38:02.053028	SUCCESS	25
2	SMS	\N	+212 628146575	2026-04-24 02:38:03.289333	SUCCESS	25
\.


ALTER TABLE public.reminder_history ENABLE TRIGGER ALL;

--
-- Data for Name: task; Type: TABLE DATA; Schema: public; Owner: root
--

ALTER TABLE public.task DISABLE TRIGGER ALL;

COPY public.task (id, scheduled_to, achievement, created_on, en_date, is_new, send_notification, start_date, task_description, task_object, type, case_id, user_creator_id, user_id) FROM stdin;
\.


ALTER TABLE public.task ENABLE TRIGGER ALL;

--
-- Data for Name: tutorial; Type: TABLE DATA; Schema: public; Owner: root
--

ALTER TABLE public.tutorial DISABLE TRIGGER ALL;

COPY public.tutorial (id, description, published, title) FROM stdin;
\.


ALTER TABLE public.tutorial ENABLE TRIGGER ALL;

--
-- Data for Name: vehicle_guarantee; Type: TABLE DATA; Schema: public; Owner: root
--

ALTER TABLE public.vehicle_guarantee DISABLE TRIGGER ALL;

COPY public.vehicle_guarantee (id, type, fiscal_horsepower, fuel_type, model_year, registration_number, vehicle_brand, credit_id) FROM stdin;
1	Car	150	Gasoline	2019	ABC123	Toyota	1
2	Truck	120	Diesel	2018	XYZ456	Ford	1
\.


ALTER TABLE public.vehicle_guarantee ENABLE TRIGGER ALL;

--
-- Name: address_id_seq; Type: SEQUENCE SET; Schema: public; Owner: root
--

SELECT pg_catalog.setval('public.address_id_seq', 1, false);


--
-- Name: agreement_id_seq; Type: SEQUENCE SET; Schema: public; Owner: root
--

SELECT pg_catalog.setval('public.agreement_id_seq', 4, true);


--
-- Name: agreement_validation_id_seq; Type: SEQUENCE SET; Schema: public; Owner: root
--

SELECT pg_catalog.setval('public.agreement_validation_id_seq', 8, true);


--
-- Name: business_fund_guarantee_id_seq; Type: SEQUENCE SET; Schema: public; Owner: root
--

SELECT pg_catalog.setval('public.business_fund_guarantee_id_seq', 2, true);


--
-- Name: car_warranty_car_warranty_id_seq; Type: SEQUENCE SET; Schema: public; Owner: root
--

SELECT pg_catalog.setval('public.car_warranty_car_warranty_id_seq', 1, false);


--
-- Name: chat_message_id_seq; Type: SEQUENCE SET; Schema: public; Owner: root
--

SELECT pg_catalog.setval('public.chat_message_id_seq', 1, false);


--
-- Name: chat_session_id_seq; Type: SEQUENCE SET; Schema: public; Owner: root
--

SELECT pg_catalog.setval('public.chat_session_id_seq', 4, true);


--
-- Name: clients_client_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.clients_client_id_seq', 8, true);


--
-- Name: collateral_personal_guarantee_personal_guarantee_id_seq; Type: SEQUENCE SET; Schema: public; Owner: root
--

SELECT pg_catalog.setval('public.collateral_personal_guarantee_personal_guarantee_id_seq', 1, false);


--
-- Name: collect_case_id_seq; Type: SEQUENCE SET; Schema: public; Owner: root
--

SELECT pg_catalog.setval('public.collect_case_id_seq', 35, true);


--
-- Name: contract_id_seq; Type: SEQUENCE SET; Schema: public; Owner: root
--

SELECT pg_catalog.setval('public.contract_id_seq', 8, true);


--
-- Name: contributor_id_seq; Type: SEQUENCE SET; Schema: public; Owner: root
--

SELECT pg_catalog.setval('public.contributor_id_seq', 1, true);


--
-- Name: conversation_message_id_seq; Type: SEQUENCE SET; Schema: public; Owner: root
--

SELECT pg_catalog.setval('public.conversation_message_id_seq', 19, true);


--
-- Name: credit_id_seq; Type: SEQUENCE SET; Schema: public; Owner: root
--

SELECT pg_catalog.setval('public.credit_id_seq', 7, true);


--
-- Name: due_date_id_seq; Type: SEQUENCE SET; Schema: public; Owner: root
--

SELECT pg_catalog.setval('public.due_date_id_seq', 1, false);


--
-- Name: installment_payment_id_seq; Type: SEQUENCE SET; Schema: public; Owner: root
--

SELECT pg_catalog.setval('public.installment_payment_id_seq', 32, true);


--
-- Name: insurance_id_seq; Type: SEQUENCE SET; Schema: public; Owner: root
--

SELECT pg_catalog.setval('public.insurance_id_seq', 1, false);


--
-- Name: keycloak_thirdparty_link_id_seq; Type: SEQUENCE SET; Schema: public; Owner: root
--

SELECT pg_catalog.setval('public.keycloak_thirdparty_link_id_seq', 1, false);


--
-- Name: loan_record_id_seq; Type: SEQUENCE SET; Schema: public; Owner: root
--

SELECT pg_catalog.setval('public.loan_record_id_seq', 1, false);


--
-- Name: mortgage_guarantee_id_seq; Type: SEQUENCE SET; Schema: public; Owner: root
--

SELECT pg_catalog.setval('public.mortgage_guarantee_id_seq', 2, true);


--
-- Name: mortgage_mortgage_id_seq; Type: SEQUENCE SET; Schema: public; Owner: root
--

SELECT pg_catalog.setval('public.mortgage_mortgage_id_seq', 1, false);


--
-- Name: payment_plan_template_id_seq; Type: SEQUENCE SET; Schema: public; Owner: root
--

SELECT pg_catalog.setval('public.payment_plan_template_id_seq', 1, false);


--
-- Name: personal_guarantee_id_seq; Type: SEQUENCE SET; Schema: public; Owner: root
--

SELECT pg_catalog.setval('public.personal_guarantee_id_seq', 2, true);


--
-- Name: procedure_id_seq; Type: SEQUENCE SET; Schema: public; Owner: root
--

SELECT pg_catalog.setval('public.procedure_id_seq', 1, false);


--
-- Name: profile_id_seq; Type: SEQUENCE SET; Schema: public; Owner: root
--

SELECT pg_catalog.setval('public.profile_id_seq', 3, true);


--
-- Name: real_estate_guarantee_id_seq; Type: SEQUENCE SET; Schema: public; Owner: root
--

SELECT pg_catalog.setval('public.real_estate_guarantee_id_seq', 2, true);


--
-- Name: recouvrex_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: root
--

SELECT pg_catalog.setval('public.recouvrex_user_id_seq', 21, true);


--
-- Name: reglement_id_seq; Type: SEQUENCE SET; Schema: public; Owner: root
--

SELECT pg_catalog.setval('public.reglement_id_seq', 1, false);


--
-- Name: reminder_history_id_seq; Type: SEQUENCE SET; Schema: public; Owner: root
--

SELECT pg_catalog.setval('public.reminder_history_id_seq', 2, true);


--
-- Name: status_id_seq; Type: SEQUENCE SET; Schema: public; Owner: root
--

SELECT pg_catalog.setval('public.status_id_seq', 1, false);


--
-- Name: task_id_seq; Type: SEQUENCE SET; Schema: public; Owner: root
--

SELECT pg_catalog.setval('public.task_id_seq', 1, false);


--
-- Name: thirdparty_id_seq; Type: SEQUENCE SET; Schema: public; Owner: root
--

SELECT pg_catalog.setval('public.thirdparty_id_seq', 12, true);


--
-- Name: tutorial_id_seq; Type: SEQUENCE SET; Schema: public; Owner: root
--

SELECT pg_catalog.setval('public.tutorial_id_seq', 1, false);


--
-- Name: vehicle_guarantee_id_seq; Type: SEQUENCE SET; Schema: public; Owner: root
--

SELECT pg_catalog.setval('public.vehicle_guarantee_id_seq', 2, true);


--
-- PostgreSQL database dump complete
--

